<div>
  <header>
    <h2> {{'Tutorial.Howworkthisapp?' | translate}}</h2>
  </header>
  <body>
    <h3> {{'Tutorial.CreateaScene' | translate}}</h3>
    <p>{{'Tutorial.clickontheplusandfillthedifferentareas' | translate}}</p>
    <img src="assets/images/add.png" width="5%" height="5%">
    <h3> {{'Tutorial.ManageScenes' | translate}}</h3>
    <p>{{'Tutorial.Youcanmanagetheexistingscenesbyclickingonthebuttonatthetop\"Managescenes\"' | translate}}</p>
    <h3> {{'Tutorial.ManageHotspots' | translate}}</h3>
    <p>{{'Tutorial.OnasceneyoucanaddHotspotsallowyoutoplaymusic,clickonthebuttonatthetop\"ManageHotspots\"addHotspot,drawanareaontheimageandfillthedifferentareas.' | translate}}</p>
    <p> {{'Tutorial.Whenyouwillclickonthehotspotyouwillhearthesongrecordedorimported' | translate}} </p>
    <h3> {{'Tutorial.Drawontheimage' | translate}} </h3>
    <p>{{'Tutorial.Youcandrawontheimagebyclickingonthebuttonatthetop\"Draw\",chooseyourcolorandclickontheimage' | translate}}</p>
  </body>

</div>
