<div class="menubar">

  <div class="menu"
   *ngIf="displayBar === true"
   [class.MenuBottomBar]="displayBar === true">

    <button (click)="play()"
    class= "button"
    [class.selected]="mode === 'play'">
    Play
    </button>

    <button (click)="hotspot()"
    class= "button"
    [class.selected]="mode === 'hotspot'">
      Hotspot
    </button>
    <button (click)="draw()"
    class= "button"
    [class.selected]="mode === 'draw'">
      Draw
    </button>

    <div class="drawingMode"
    *ngIf="mode === 'draw'">
      <button type="button"
      *ngFor="let color of COLORS"
      [style.background-color]="color.hex"
      (click)="changeColor(color.name)">
      </button>
      <button type="button"
      (click)="changeColor('erase')">Erase</button>

      <button type="button"
      (click)="changeColor('clear')">Clear</button>
    </div>

    <input [(ngModel)]="sceneTitle"
    value="{{sceneTitle}}"
    *ngIf="mode !== 'draw'"/>

    <a routerLink="/settings"
    *ngIf="mode !== 'draw'">Settings</a>

  </div>

  <button id="hideShowButton" type="button" (click)="hideShowMenu()" >{{hideShowButtonChar}}</button>

</div>
<app-scene-display
[imageName]="sceneTitle" [displayBar]="displayBar" (imageChange)="onImageChange($event)"></app-scene-display>
