.version{
  position: absolute;
  bottom: 0;
  right: 0;
}

.versionAFSR{
  position: absolute;
  bottom: 35px;
  right: 0;
}

.error{
  color: red;
  grid-column: 3;
  margin: 0;
  padding-left: 10px;
}

.menuBar{
  height: 65px;
  min-width: 7cm;
  position: relative;
  display: flex;
}

.scene-display{
  width: 100vw;
  height: calc(100% - 95px);
  display: flex;
}

.scene{
  width: 3cm;
  display: flex;
  flex-direction: column;
  background-color: #4766D8;
}

.sceneAFSR{
  width: 3cm;
  display: flex;
  flex-direction: column;
  background-color: #921e3d;
}

.images{
  width: 3cm;
  background-color: #ff7f00;
  display: flex;
  flex-direction: column;
}

.imagesAFSR{
  width: 3cm;
  background-color: #cd2653;
  display: flex;
  flex-direction: column;
}

.bigContainer{
  background-color: #add8e6;
  max-height: 100%;
  width: calc(100% - 6cm);
  border-top: 5px solid #ff7f00;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bigContainerAFSR{
  background-color: #fff6f9;
  max-height: 100%;
  width: calc(100% - 6cm);
  border-top: 5px solid #cd2653;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu {
  flex-grow: 4;
  display: flex;
  margin-top: 2px;
  border-bottom: 5px solid #4766D8;
}

.menuAFSR {
  flex-grow: 4;
  display: flex;
  margin-top: 2px;
  border-bottom: 5px solid #921e3d;
}

.btnReset{
  margin-left: 15px;
}

.button {
  display: inline;
  cursor: pointer;
  border-radius: 5px;
  height: 1.5cm;
  width: 2cm;
  min-width: 1cm;
  min-height: 1cm;
  margin: 0 5px;
  background-color: white;
}

.button:hover {
  background-color: #E8E8E8;
}

.button.selected {
  background-color: #add8e6;
}

.settings-item{
  margin: 20px;
  display: grid;
  grid-template-columns: 200px 100px;
}

.title{
  height: fit-content;
  margin: auto;
  font-size: xx-large;
}

.buttonTopImg{
  height: 0.7cm;
  width: 0.7cm;
  min-width: 0.4cm;
  min-height: 0.4cm;
  margin: auto;
}
.imageAFSR{
  background-size: 75px;
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.topBarAFSRLogo{
  display: inline-block;
  height: 55px;
  width: 84px;
}

.imageAFSRBottom{
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.topBarAFSRLogoBottom{
  display: inline-block;
  height: 35px;
  width: 40px;
}

.floatRight {
  float: right;
}

.imageLogoAFSR {
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
  display: inline-block;
  height: 100%;
  width: 100%;
  /* padding: 5px;*/
}

.imageTextAFSR {
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
  display: inline-block;
  height: 100%;
  width: 100%;
  /* padding: 5px;*/
}

.bottomBarAFSRLogo {
  display: inline-block;
  height: 22px;
  width: 25px;
  /* padding: 5px;*/
}

.bottomBarAFSRText {
  display: inline-block;
  height: 22px;
  width: 70px;
  /* padding: 5px;*/
}
