<div class="menuBar">
  <div class="menu">
    <button (click)=back() class="button">
      Back
    </button>

    <div class="title">
      Settings
    </div>

    <div class="topBarAFSRLogo floatRight">
      <div class="imageAFSR" style="width: 100%"
           [ngStyle]="{'background-image':this.getAFSRLogoPNGUrl()}">
      </div>
    </div>

  </div>

</div>
<div class="scene-display">
  <div class="scene"></div>
  <div class="images"></div>
  <div class="bigContainer">
    <div class="settings-item">
      <label for="dwellTimeEnable">Dwell-Time Enabled:</label>
      <input [(ngModel)]="this.settingsService.DWELL_TIME_ENABLED" id="dwellTimeEnable" type="checkbox"
      >
    </div>
    <div class="settings-item">
      <label for="dwellTime">Dwell-Time:</label>
      <input [(ngModel)]="this.settingsService.DWELL_TIME_TIMEOUT_VALUE" id="dwellTime" type="text"
      >
    </div>
  </div>
</div>
<div class="topBarAFSRLogoBottom floatRight">
  <div class="imageAFSRBottom" style="width: 100%"
       [ngStyle]="{'background-image':this.getAFSRLogoPNGUrl()}">

  </div>
</div>
<div class="floatRight" style="width: fit-content; height: 22px">
  <div style="
    margin-top: 7px;
    font-size: xx-small;
    width: 70px;
    height: fit-content;
    align-items: center;
    align-content: center;
    text-align: center;"
  >
    Sponsorisé par
  </div>
</div>

