.scene-display {
  max-width: 100vw;
  height: 91vh;
  display: flex;
}

.scene-display .scenes{
  width : 3cm;
  display: flex;
  flex-direction: column;
  background-color: #4766D8;
}

.scenes-virtual-viewport {
  height: 90vh;
  overflow-x: hidden;
}

.scene-display .scenes .scenes-virtual-viewport .scene{
  padding: 5px;
  width: 100%;
  height: 3cm;
}

.scene-display .scenes .scenes-virtual-viewport .scene:hover{
  background-color: #477cd8;
}

.scene-display .scenes .scenes-virtual-viewport .scene button{
  float: right;
  width: 100%;
  height: 3cm;
  min-width: 1cm;
  max-width: 3cm;
  border-radius: 5px;
}

.scene-display .scenes .scenes-virtual-viewport .scene.selected{
  background-color: #ff7f00;
}

.scene-display .scenes .scenes-virtual-viewport .scene.selected:hover{
  background-color: #ff9900;
}

.scene-display .images{
  width : 3cm;
  background-color: #ff7f00;
  display: flex;
  flex-direction: column;
}

.images-virtual-viewport {
  height: 90vh;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 0px;
}

.image{
  height: 3cm;
  padding: 5px;
  width: 95%;
}

.image:hover{
  background-color: #ff9900;
}

.image.selected{
  background-color: #add8e6;
}

.image.selected:hover{
  background-color: #83B2D4;
}

.image button {
  float: right;
  width: 100%;
  height: 3cm;
  min-width: 1cm;
  max-width: 3cm;
  border-radius: 5px;
}

.scene-display .bigImageContainer {
  background-color: #add8e6;
  flex-grow: 4;
  text-align: center;
  max-height: 100%;
}

.scene-display .bigImageContainer #sceneDiv img{

}

#sceneDiv {
  display:inline-block;
  margin: 0 auto;
  background: black;
  position:relative;
  border:3px solid black;
  border-radius: 10px;
  box-shadow: 0 5px 50px #333;
}

#canvas{
  position: absolute;
  top: 0px;
  left: 0px;
}

#hotspot {
  position: absolute;
  top: 0px;
  left: 0px;
}

.buttonimg {
  max-width: 2.5cm;
  max-height: 2cm;
}

.hidden {
    position: absolute;
    left: -9999px;
    visibility: hidden;
}

.show-hidden {
    opacity: 0.5;
}

.button-selected {
  background-color: #808080;
}
