<div class="manage-scenes">
  <button type="button" name="hide" (click)="hide()">{{'Dashboard.Hide' | translate}}</button>
  <button type="button" name="remove" (click)="remove()">{{'Dashboard.Remove' | translate}}</button>
  <button type="button" name="rename" (click)="rename()">{{'Dashboard.Rename' | translate}}</button>
  <button type="button" name="export" (click)="export()">{{'Dashboard.Export' | translate}}</button>
  <button type="button" name="import" (click)="import()">{{'Dashboard.Import' | translate}}</button>
</div>