.hotspot-create-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  color: red;
}

.selected{
  background-color: lightgrey;
}

.recButton{
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  margin-left: 3px;
  background-color: lightgrey;
}

.buttonimg {
  height: 0.7cm;
  width: 0.7cm;
  min-width: 0.4cm;
  min-height: 0.4cm;
  margin: -5px -5px;
}
