<form [formGroup]="form" (ngSubmit)="submit(form)" class="import-scenes-dialog">
  <h1 mat-dialog-title>Create hotspot</h1>
  <mat-dialog-content>
    <input formControlName="soundSelected" type="file" (change)="onSoundSelected($event)" style="margin-bottom: 5px">
    <mat-form-field>
      <mat-select formControlName="color" placeholder="Pick the stroke color" id="colorSelect" ngDefaultControl>
        <mat-option [value]="'#000000'">Black</mat-option>
        <mat-option [value]="'#FFFFFF'">White</mat-option>
        <mat-option [value]="'#0080ff'">Blue</mat-option>
        <mat-option [value]="'#f34336'">Red</mat-option>
        <mat-option [value]="'#ff7f00'">Orange</mat-option>
        <mat-option [value]="'#228b22'">Green</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Enter the name of the hotspot" id="nameInput">
    </mat-form-field>
  </mat-dialog-content>
  <p *ngIf='error !== ""'>{{error}}</p>
  <mat-dialog-actions>
    <button mat-button type="submit">Import</button>
    <button mat-button type="button" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
