<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1 mat-dialog-title>Add scene</h1>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="scenename" placeholder="Enter a scene name" maxlength="64">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput formControlName="firstimagename" placeholder="Enter the image name" maxlength="64">
    </mat-form-field>
    <br>
    <input type="file" accept="image/*" (change)="onFileSelected($event)">
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit">Add</button>
    <button mat-button type="button" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
