<div #hotspot></div>
<div>
  <svg
    [attr.height]="height"
    [attr.width]="width"
  >
    <defs>
      <filter id="background" x="0" y="0" width="1" height="1">
        <feFlood flood-color="white" result="bg"/>
        <feMerge>
          <feMergeNode in="bg"/>
          <feMergeNode in="SourceGraphic"/>
        </feMerge>
      </filter>
    </defs>
    <text id="textCenter" filter="" class="hideText" x="" y="" font-size="20px"></text>
    <polygon *ngFor="let hotspot of getHotspots()"
             [attr.fill]="hotspot.strokeColor"
             fill-opacity="0.0"
             [attr.stroke]="hotspot.strokeColor"
             [attr.points]="this.getPoints(hotspot)"
             stroke-width="2"
             (mouseenter)="enterEvent($event,hotspot)"
             (mouseleave)="leaveEvent($event, hotspot)"
             (touchenter)="enterEvent($event,hotspot)"
             (touchleave)="leaveEvent($event, hotspot)"
             (click)="clickEvent($event,hotspot)"

             (pointerenter)="enter($event,hotspot)"
             (pointerleave)="exit()"
    />
  </svg>
</div>
