<form [formGroup]="form" (ngSubmit)="submit(form)" class="export-dialog">
  <h1 mat-dialog-title>{{'Dashboard.Chooseaname' | translate}}</h1>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="name" placeholder="{{'Dashboard.Enteraname' | translate}}" id="nameInput" maxlength="64">
    </mat-form-field>
    <br>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit">{{'Dashboard.Export' | translate}}</button>
    <button mat-button type="button" mat-dialog-close>{{'Dashboard.Cancel' | translate}}</button>
  </mat-dialog-actions>
</form>
