.menubar {
  height: 65px;
  /* max-height: 7vh; */
  /*min-height: 65px;*/
  min-width: 7cm;
  position: relative;
  display: flex;
}

.enabled {
  height: 0vh;
}

.MenuBottomBar {
  border-bottom: 5px solid #4766D8;
}

.menubar .menu {
  flex-grow: 4;
  display: flex;
  margin-top: 2px;
}

.menubar .menu .button {
  display: inline;
  cursor: pointer;
  border-radius: 5px;
  height: 1.5cm;
  width: 2cm;
  min-width: 1cm;
  min-height: 1cm;
  margin: 0 5px;
  background-color: white;
}

.menubar .menu .button:hover {
  background-color: #E8E8E8;
}

.menubar .menu .button.selected {
  background-color: #add8e6;
}

.menubar .menu .drawingMode {
  display: flex;
  /*background-color: #ade5e6;*/
  column-gap: 5px;
  padding: 0 5px;
  margin: 0 auto;
}

.menubar .menu .drawingMode button {
  display: inline;
  cursor: pointer;
  border-radius: 10px;
  height: 1.3cm;
  width: 1.3cm;
  min-width: 1cm;
  min-height: 1cm;
  align-self: center;
  background-color: white;
}

.menubar .menu .drawingMode .selected {
  background-color: #e6caa0;
}


.menubar .menu input {
  text-align: center;
  height: 1.3cm;
  min-width: 1cm;
  border-radius: 5px;
  /* height: auto; */
  min-height: 1.3cm;
  width: auto;
  border-style: dashed;
  font-size: 2em;
  vertical-align: middle;
  flex-grow: 4;
  margin: 0 30px;
  /* max-height: 6vh;*/
}

.menubar .menu a {
  padding: 5px 10px;
  text-decoration: none;
  align-content: center;
  display: grid;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  float: right;
  margin-right: 5px;
  border: rgb(59, 59, 59) solid 2px;
  background-color: rgb(239, 239, 239);
  height: 1.5cm;
  box-sizing: border-box;
  min-height: 1cm;
}

.menubar .menu a:visited, a:link {
  color: #334953;
}

.menubar .menu a:hover {
  background-color: #E8E8E8;
}

.menubar .menu a:active {
  background-color: #add8e6;
}

#hideShowButton {
  height: 1cm;
  width: 1cm;
  min-width: 0.5cm;
  min-height: 0.5cm;
  /* text-align: center; */
  position: absolute;
  right: 0;
  margin-top: 5px;
  /* top: 70px; */
  font-size: 1.5em;
  text-align: center;
  border-radius: 5px;
  border-width: 2px;
  background-color: white;
}

#fullScreenButton {
  height: 1cm;
  width: 1cm;
  min-width: 0.5cm;
  min-height: 0.5cm;
  position: absolute;
  right: 0;
  margin-top: calc(5px + 1cm);
  /* font-size: 1.5em; */
  text-align: center;
  border-radius: 5px;
  border-width: 2px;
  background-color: white;
  font-size: 8px;
}

.buttonimg {
  height: 0.7cm;
  width: 0.7cm;
  min-width: 0.4cm;
  min-height: 0.4cm;
  margin: -5px -5px;
}

.menubar .menu .drawingModeForm {
  display: flex;
  column-gap: 5px;
  padding: 0 5px;
  margin: 0 auto;
}

.menubar .menu .drawingModeForm button{
  display: inline;
  cursor: pointer;
  border-radius: 10px;
  height: 1.3cm;
  width: 1.3cm;
  min-width: 1cm;
  min-height: 1cm;
  align-self: center;
  background-color: white;
}

.drawingModeForm .button .selected{
  background-color: #e6caa0;
}
