<div id="menuBar" class="menubar" *ngIf="modeService.displayBar">

  <div *ngIf="!settingsService.AFSR" class="menu"
       [class.MenuBottomBar]="modeService.displayBar">

    <button (click)="changeMode('play')"
            class="button"
            [class.selected]="modeService.selectedMode === 'play'">
      <img src="assets/images/play.png" alt="Play" class="buttonTopImg">
      <span>{{'Dashboard.Play' | translate}}</span>
    </button>

    <button (click)="changeMode('hotspot')"
            class="button"
            [class.selected]="modeService.selectedMode === 'hotspot'">
      <img src="assets/images/spots.png" alt="ManageHotspots" class="buttonTopImg">
      <span>{{'Dashboard.ManageHotspots' | translate}}</span>
    </button>

    <button (click)="changeMode('manage-scenes')"
            class="button"
            [class.selected]="modeService.selectedMode === 'manage-scenes'">
      <img src="assets/images/scene.png" alt="ManageScenes" class="buttonTopImg">
      <span>{{'Dashboard.ManageScenes' | translate}}</span>
    </button>

    <button (click)="changeMode('draw')"
            class="button"
            [class.selected]="modeService.selectedMode === 'draw'">
      <img src="assets/images/edit.svg" alt="Draw" class="buttonTopImg">
      <span>{{'Dashboard.Draw' | translate}}</span>
    </button>

    <!-- Ajout d'un bouton reset -->
    <button [disabled]="!(scenesService.hasAtLeastOneScene())" (click)="openDialogReset()" class="button">
      <img src="assets/images/reset.png" alt="Reset" class="buttonTopImg">
      <span>{{'Dashboard.Reset' | translate }}</span>
    </button>

    <div class="drawingMode"
         *ngIf="modeService.selectedMode === 'draw'">

      <div class="divDraw">
        <button type="button" [class.selected]="modeService.sizeDrawingTool === SMALL_SIZE" (click)="changeSize(SMALL_SIZE)">
          <img src="assets/images/petitPoint.png" alt="small" class="buttonTopImg">
        </button>
        <button type="button" [class.selected]="modeService.sizeDrawingTool === MEDIUM_SIZE" (click)="changeSize(MEDIUM_SIZE)">
          <img src="assets/images/moyenPoint.png" alt="medium" class="buttonTopImg">
        </button>
        <button type="button" [class.selected]="modeService.sizeDrawingTool === LARGE_SIZE" (click)="changeSize(LARGE_SIZE)">
          <img src="assets/images/grosPoint.png" alt="large" class="buttonTopImg">
        </button>
      </div>

      <div class="divDraw">
        <button type="button"
                *ngFor="let color of COLORS"
                [style.background-color]="color.hex"
                (click)="changeColor(color.name)">
        </button>
      </div>
      <div class="divDraw">
        <button type="button"
                (click)="changeColor('erase')">
          <img src="assets/images/eraser.png" alt="erase" class="buttonTopImg">
          <!--{{'Dashboard.Erase' | translate}}-->
        </button>

        <button type="button"
                (click)="changeColor('clear')">
          <!--{{'Dashboard.Clear' | translate}}-->
          <img src="assets/images/delete.png" alt="clear" class="buttonTopImg">
        </button>
      </div>
    </div>

    <div class="drawingMode"
         *ngIf="modeService.selectedMode === 'hotspot'">
      <div class="buttonTopImg">
        <img *ngIf="modeService.choiceDrawing === 'Polyline'" src="assets/images/courbe.png" alt="Polyline" class="buttonTopImg">
        <img *ngIf="modeService.choiceDrawing === 'Rectangle'" src="assets/images/rectangle.png" alt="Rectangle" class="buttonTopImg">
        <img *ngIf="modeService.choiceDrawing === 'Circle'" src="assets/images/circle.png" alt="Circle" class="buttonTopImg">
      </div>

      <button [matMenuTriggerFor]="formes" class="button" [class.selected]="modeService.currentDrawingTool === 'Add'"
              type="button" style="width: 4cm; min-width: 1cm;"
              (click)="changeColor('Add')">
        <img src="assets/images/add.png" alt="add" class="buttonTopImg">
        {{'Dashboard.AddHotspot' | translate}}
      </button>
      <mat-menu #formes="matMenu">
        <div class="custom-menu">
          <button class="btnDropDown" [class.selected]="modeService.choiceDrawing === 'Polyline'"
                  type="button" style="width: 4cm; min-width: 1cm;"
                  (click)="choiceDrawing('Polyline')">
            <img src="assets/images/courbe.png" alt="courbe" class="buttonTopImg">
          </button>

          <button class="btnDropDown" [class.selected]="modeService.choiceDrawing === 'Rectangle'"
                  type="button" style="width: 4cm; min-width: 1cm;"
                  (click)="choiceDrawing('Rectangle')">
            <img src="assets/images/rectangle.png" alt="rectangle" class="buttonTopImg">
          </button>

          <button class="btnDropDown" [class.selected]="modeService.choiceDrawing === 'Circle'"
                  type="button" style="width: 4cm; min-width: 1cm;"
                  (click)="choiceDrawing('Circle')">
            <img src="assets/images/circle.png" alt="circle" class="buttonTopImg">
          </button>
        </div>
      </mat-menu>


      <button class="button" [class.selected]="modeService.currentDrawingTool === 'modify' || modeService.currentDrawingTool === 'redraw'"
              type="button" style="width: 4cm; min-width: 1cm;"
              (click)="changeColor('modify')">
        <img src="assets/images/edit.svg" alt="edit" class="buttonTopImg">
        {{'Dashboard.ModifyHotspot' | translate}}
      </button>

<!--      <div class="redrawHotspot" *ngIf="modeService.currentDrawingTool === 'redraw'">-->
<!--        <button class="btnDropDown" [class.selected]="modeService.choiceDrawing === 'Polyline'"-->
<!--                style="width: 4cm; min-width: 1cm;" type="button"-->
<!--                (click)="choiceDrawing('Polyline')">-->
<!--          <img alt="courbe" class="buttonTopImg" src="assets/images/courbe.png">-->
<!--        </button>-->
<!--        <button class="btnDropDown" [class.selected]="modeService.choiceDrawing === 'Rectangle'"-->
<!--                style="width: 4cm; min-width: 1cm;" type="button"-->
<!--                (click)="choiceDrawing('Rectangle')">-->
<!--          <img alt="rectangle" class="buttonTopImg" src="assets/images/rectangle.png">-->
<!--        </button>-->
<!--        <button class="btnDropDown" style="width: 4cm; min-width: 1cm;" type="button">-->
<!--          <img alt="circle" class="buttonTopImg" src="assets/images/circle.png">-->
<!--        </button>-->
<!--      </div>-->

      <button class="button" [class.selected]="modeService.currentDrawingTool === 'delete'"
              type="button" style="width: 4cm; min-width: 1cm;"
              (click)="changeColor('delete')">
        <img src="assets/images/delete.svg" alt="delete" class="buttonTopImg">
        {{'Dashboard.DeleteHotspot' | translate}}
      </button>

      <button class="button"
              type="button" style="width: 4cm; min-width: 1cm;"
              (click)="deleteAllHotspots()">
        <img src="assets/images/reset.png" alt="delete all" class="buttonTopImg">
        {{'Dashboard.DeleteAllHotspot' | translate}}
      </button>

    </div>

    <input [(ngModel)]="sceneTitle"
           value="{{sceneTitle}}"
           *ngIf="modeService.selectedMode === 'play'"/>

    <button class="button" type="button" [ngStyle]="{'margin-left': modeService.selectedMode === 'manage-scenes' ? 'auto' : '0'}"
            (click)="openDialogTuto()">
      <img src="assets/images/help.svg" alt="Help" class="buttonTopImg">
      <span>{{'Tutorial.Tuto' | translate}}</span>
    </button>

    <a routerLink="/settings" [ngStyle]="{'margin-left': modeService.selectedMode === 'manage-scenes' ? 'right' : '0'}" >
      <img src="assets/images/settings.svg" alt="settings" class="buttonTopImg" [ngStyle]="{'margin-bottom': '2px','margin': 'auto'}">
      {{'Dashboard.Settings' | translate}}
    </a>

    <button *ngIf="settingsService.AFSR === true" class="button" type="button"
            (click)="logout()">
      <img src="assets/images/logout.png" alt="Fermer interAAction Scene" class="buttonTopImg">
    </button>

  </div>
  <div *ngIf="settingsService.AFSR" class="menu"
       [class.MenuBottomBarAFSR]="modeService.displayBar">

    <button (click)="changeMode('play')"
            class="button"
            [class.selected]="modeService.selectedMode === 'play'">
      <img src="assets/images/play.png" alt="Play" class="buttonTopImg">
      {{'Dashboard.Play' | translate}}
    </button>

    <button (click)="changeMode('hotspot')"
            class="button"
            [class.selected]="modeService.selectedMode === 'hotspot'">
      <img src="assets/images/spots.png" alt="ManageHotspots" class="buttonTopImg">
      {{'Dashboard.ManageHotspots' | translate}}
    </button>

    <button (click)="changeMode('manage-scenes')"
            class="button"
            [class.selected]="modeService.selectedMode === 'manage-scenes'">
      <img src="assets/images/scene.png" alt="ManageScenes" class="buttonTopImg">
      {{'Dashboard.ManageScenes' | translate}}
    </button>

    <button (click)="changeMode('draw')"
            class="button"
            [class.selected]="modeService.selectedMode === 'draw'">
      <img src="assets/images/edit.svg" alt="Draw" class="buttonTopImg">
      {{'Dashboard.Draw' | translate}}
    </button>

    <div class="drawingMode"
         *ngIf="modeService.selectedMode === 'draw'">
      <div class="divDraw">
        <button type="button" [class.selected]="modeService.sizeDrawingTool === SMALL_SIZE" (click)="changeSize(SMALL_SIZE)">
          <img src="assets/images/petitPoint.png" alt="small" class="buttonTopImg">
        </button>
        <button type="button" [class.selected]="modeService.sizeDrawingTool === MEDIUM_SIZE" (click)="changeSize(MEDIUM_SIZE)">
          <img src="assets/images/moyenPoint.png" alt="medium" class="buttonTopImg">
        </button>
        <button type="button" [class.selected]="modeService.sizeDrawingTool === LARGE_SIZE" (click)="changeSize(LARGE_SIZE)">
          <img src="assets/images/grosPoint.png" alt="large" class="buttonTopImg">
        </button>
      </div>

      <div class="divDraw">
        <button type="button"
                *ngFor="let color of COLORS"
                [style.background-color]="color.hex"
                (click)="changeColor(color.name)">
        </button>
      </div>
      <div class="divDraw">
        <button type="button"
                (click)="changeColor('erase')">
          <img src="assets/images/eraser.png" alt="erase" class="buttonTopImg">
          <!--{{'Dashboard.Erase' | translate}}-->
        </button>

        <button type="button"
                (click)="changeColor('clear')">
          <!--{{'Dashboard.Clear' | translate}}-->
          <img src="assets/images/delete.png" alt="clear" class="buttonTopImg">
        </button>
      </div>
    </div>

    <div class="drawingMode"
         *ngIf="modeService.selectedMode === 'hotspot'">
      <button [class.selected]="modeService.currentDrawingTool === 'Add'"
              type="button" style="width: 4cm; min-width: 1cm;"
              (click)="changeColor('Add')">
        <img src="assets/images/add.png" alt="add" class="buttonTopImg">
        {{'Dashboard.AddHotspot' | translate}}
      </button>

      <div class="drawingModeForm"
           *ngIf="modeService.currentDrawingTool === 'Add' ||
                  modeService.currentDrawingTool === 'redraw'">

        <button [class.selected]="modeService.choiceDrawing === 'Polyline'"
                type="button" style="width: 4cm; min-width: 1cm;"
                (click)="choiceDrawing('Polyline')">
          <img src="assets/images/courbe.png" alt="courbe" class="buttonTopImg">
        </button>

        <button [class.selected]="modeService.choiceDrawing === 'Rectangle'"
                type="button" style="width: 4cm; min-width: 1cm;"
                (click)="choiceDrawing('Rectangle')">
          <img src="assets/images/rectangle.png" alt="rectangle" class="buttonTopImg">
        </button>

        <button [class.selected]="modeService.choiceDrawing === 'Circle'"
                type="button" style="width: 4cm; min-width: 1cm;"
                (click)="choiceDrawing('Circle')">
          <img src="assets/images/circle.png" alt="circle" class="buttonTopImg">
        </button>
      </div>

      <button [class.selected]="modeService.currentDrawingTool === 'modify' || modeService.currentDrawingTool === 'redraw'"
              type="button" style="width: 4cm; min-width: 1cm;"
              (click)="changeColor('modify')">
        <img src="assets/images/edit.svg" alt="edit" class="buttonTopImg">
        {{'Dashboard.ModifyHotspot' | translate}}
      </button>

      <button [class.selected]="modeService.currentDrawingTool === 'delete'"
              type="button" style="width: 4cm; min-width: 1cm;"
              (click)="changeColor('delete')">
        <img src="assets/images/delete.svg" alt="delete" class="buttonTopImg">
        {{'Dashboard.DeleteHotspot' | translate}}
      </button>
    </div>

    <input [(ngModel)]="sceneTitle"
           value="{{sceneTitle}}"
           *ngIf="modeService.selectedMode === 'play'"/>

    <button class="button" type="button" [ngStyle]="{'margin-left': modeService.selectedMode === 'manage-scenes' ? 'auto' : '0'}"
            (click)="openDialogTuto()">
      <img src="assets/images/help.svg" alt="Help" class="buttonTopImg">
      {{'Tutorial.Tuto' | translate}}
    </button>

    <a routerLink="/settings" [ngStyle]="{'margin-left': modeService.selectedMode === 'manage-scenes' ? 'right' : '0'}" >
      <img src="assets/images/settings.svg" alt="settings" class="buttonTopImg" [ngStyle]="{'margin-bottom': '2px','margin': 'auto'}">
      {{'Dashboard.Settings' | translate}}
    </a>

    <button *ngIf="settingsService.AFSR === true" class="button" type="button" [ngStyle]="{'margin-left': modeService.selectedMode === 'manage-scenes' ? 'right' : '0'}"
            (click)="logout()">
      <img src="assets/images/logout.png" alt="Fermer interAAction Scene" class="buttonTopImg">
    </button>

  </div>
</div>

<app-scene-display
  [imageName]="sceneTitle" (imageChange)="onImageChange($event)"></app-scene-display>

<button id="hideShowButtonPanel" type="button" [ngClass]="positionPanelButton" (click)="hideShowPanel()">{{hideShowButtonChar2}}</button>
<div class="absoluteButtons">
  <button type="button" (click)="hideShowMenu()">{{hideShowButtonChar}}</button>
  <button type="button" (click)="fullScreen()">
    <img src="assets/{{fullScreenPath}}" alt="Add a scene" class="buttonimg">
  </button>

  <button (click)="zoom('out')" class="button">
    <img src="assets/images/zoom-out-icon.png" alt="ZoomOut" class="buttonTopImg">
  </button>

  <button (click)="zoom('in')" class="button">
    <img src="assets/images/zoom-in-icon.png" alt="ZoomIn" class="buttonTopImg">
  </button>
</div>
