<div id="menuBar" class="menubar" *ngIf="modeService.displayBar">

  <div class="menu"
       [class.MenuBottomBar]="modeService.displayBar">

    <button (click)="changeMode('play')"
            class="button"
            [class.selected]="modeService.selectedMode === 'play'">
      {{'Dashboard.Play' | translate}}
    </button>

    <button (click)="changeMode('hotspot')"
            class="button"
            [class.selected]="modeService.selectedMode === 'hotspot'">
      {{'Dashboard.ManageHotspots' | translate}}
    </button>

    <button (click)="changeMode('manage-scenes')"
            class="button"
            [class.selected]="modeService.selectedMode === 'manage-scenes'">
      {{'Dashboard.ManageScenes' | translate}}
    </button>

    <button (click)="changeMode('draw')"
            class="button"
            [class.selected]="modeService.selectedMode === 'draw'">
      {{'Dashboard.Draw' | translate}}
    </button>

    <div class="drawingMode"
         *ngIf="modeService.selectedMode === 'draw'">
      <button type="button"
              *ngFor="let color of COLORS"
              [style.background-color]="color.hex"
              (click)="changeColor(color.name)">
      </button>
      <button type="button"
              (click)="changeColor('erase')">{{'Dashboard.Erase' | translate}}
      </button>

      <button type="button"
              (click)="changeColor('clear')">{{'Dashboard.Clear' | translate}}
      </button>
    </div>

    <div class="drawingMode"
         *ngIf="modeService.selectedMode === 'hotspot'">
      <button [class.selected]="modeService.currentDrawingTool === 'add'"
              type="button" style="width: 4cm; min-width: 1cm;"
              (click)="changeColor('add')">{{'Dashboard.AddHotspot' | translate}}
      </button>

      <button [class.selected]="modeService.currentDrawingTool === 'modify' || modeService.currentDrawingTool === 'redraw'"
              type="button" style="width: 4cm; min-width: 1cm;"
              (click)="changeColor('modify')">{{'Dashboard.ModifyHotspot' | translate}}
      </button>

      <button [class.selected]="modeService.currentDrawingTool === 'delete'"
              type="button" style="width: 4cm; min-width: 1cm;"
              (click)="changeColor('delete')">{{'Dashboard.DeleteHotspot' | translate}}
      </button>
    </div>

    <input [(ngModel)]="sceneTitle"
           value="{{sceneTitle}}"
           *ngIf="modeService.selectedMode === 'play'"/>

    <a routerLink="/settings" [ngStyle]="{'margin-left': modeService.selectedMode === 'manage-scenes' ? 'auto' : '0'}" >
      {{'Dashboard.Settings' | translate}}
    </a>

  </div>
</div>
<button id="hideShowButton" type="button" (click)="hideShowMenu()">{{hideShowButtonChar}}</button>
<button id="fullScreenButton" type="button" (click)="fullScreen()">
  <img src="assets/{{fullScreenPath}}" alt="Add a scene" class="buttonimg">
</button>

<app-scene-display
  [imageName]="sceneTitle" (imageChange)="onImageChange($event)"></app-scene-display>
