/* You can add global styles to this file, and also import other style files */

body { height: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
  height: 100%;
  width: 100%;
  margin-left: 0;
  background-color: white;

  font-family: Arial, sans-serif;

  overflow: hidden;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
