<form [formGroup]="form" (ngSubmit)="submit(form)" class="rename-dialog">
  <h1 mat-dialog-title>{{'Dashboard.Chooseaname' | translate}}</h1>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="nameScene" placeholder="{{'Dashboard.Modifyascenename' | translate}}" class="nameInput" maxlength="64">
    </mat-form-field>

    <mat-form-field *ngIf="imageSelected">
      <input matInput formControlName="nameImage" placeholder="{{'Dashboard.Modifyanimagename' | translate}}" class="nameInput" maxlength="64">
    </mat-form-field>
    <br>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit">{{'Dashboard.Rename' | translate}}</button>
    <button mat-button type="button" mat-dialog-close>{{'Dashboard.Cancel' | translate}}</button>
  </mat-dialog-actions>
</form>
